<div class="container">
  <h2 class="text-center">Camper Details</h2>
  <br />
  <br />
  <div class="d-flex flex-row">
    <div class="container justify-content-center" *ngIf="camper">
      <div class="container justify-content-center">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center" id="author">
              <img src="https://bootdey.com/img/Content/avatar/avatar5.png" />
              <h3>{{ camper.name }}</h3>
              <h3>Age : {{ camper.age }}</h3>
              <small class="label label-warning">From USA</small>
              <p>
                Aku kie sing sok ngedolke omah-omah kae, yo iso di omongke
                makelar ngono sih. Tapi makelar nek payu ne akeh yo dadi sugih
                bro. Tenanan ra ngapusi.
              </p>
              <button type="button" (click)="goBack()">go back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-12" *ngIf="camper">
      <div class="panel">
        <div class="panel-body">
          <h2 class="text-center">Signed Up Activities</h2>
          <div>
            <ul *ngFor="let activity of camper.activities">
              <div>
                <li>{{ activity.id }}</li>
                <li>{{ activity.name }}</li>
                <li>{{ activity.difficulty }}</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
